* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    background-color: #dcdbd8;
 
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.containerx {

    display: flex;
    height: 100%;
    width: 100%;

}

.right-side {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    
}


.shadowx {
    -webkit-box-shadow: 4px 6px 4px -3px rgba(0,0,0,0.69);
-moz-box-shadow: 4px 6px 4px -3px rgba(0,0,0,0.69);
box-shadow: 4px 6px 4px -3px rgba(0,0,0,0.69);
}

.left-side {
    width: 20%;
    height: 100vh;
    background-color: #FFD3B0;
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative; 
    border-radius: 0px 59px 58px 0px;
    -moz-border-radius: 0px 59px 58px 0px;
    -webkit-border-radius: 0px 59px 58px 0px;
    border: 0px solid #000000;
    
}


.avatar {
    display: block;
    width: 75px;
    height:75px;
    background-image: url("public\assets\avatar.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    border-radius: 50%;
    margin-top: 25px;
    margin-bottom: 5px;
}
.greeting {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}
.budget {
    font-size: 36px;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 0;
}
.description {
    font-size: 20;
    color: #555;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    flex: 1 1 auto;
}
.menu a {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    color: #555;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: background-color 0.2s;
}
.menu a:hover {
    color: #fff;
}
.menu a.active {
    
    color: #000;
    font-weight: bold;
}
.logout {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: block;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.logout img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.list-view {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 350px;
    padding: 1% 3%;
    box-sizing: border-box;
    overflow-y:scroll;
    
}

.list-item {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #e4dfdf;
    
}

.item-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.list-item div {
    margin-bottom: 0.5rem;
}
.bottom-left .description{
    font-size: 1.2rem;
}


/* Desktop Styles */
@media screen and (min-width: 769px) {
    .navbar-toggle {
        display: none;
    }
}

@media screen and (min-width: 1600px) {
    .navbar-toggle {
        display: none;
    }
    .grid-container {
        display: grid;
        grid-gap: 0px;
        height: 100%;
        width: 100%;
    }

}

/* Mobile and Tablet Styles */
@media screen and (max-width: 1000px) {
    .left-side {
        position: fixed;
        height: 100%;
        width: 250px;
        left: -250px;
        transition: left 0.3s;
    }

    .right-side {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .left-side.open {
        left: 0;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 20px;
        height: 100%;
        width: 100%;
        padding: 5% 6%;
        margin: 3% 5%;
    }

    .navbar-toggle {
        display: block;
        background-color: transparent;
        border: none;
        font-size: 24px;
        cursor: pointer;
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 1000;
    }


  
    
}
